$mainFontFamily: 'Poppins',
sans-serif;
$headerBgColor: rgba(86, 184, 135, .06);
$headerPhotoBorderColor: #fff;
$headerDefaultTextColor: #fff;
$headerIconsBgColor: rgba(255, 255, 255, .1);
$defaultSectionBgColor: #fff;
$personalInfoAboutMeColor: #9baab3;
$primaryColor: #000;
$secondaryColor: #555;
$statNummberColor: #9baab3;
$progressBarBGColor:#ebeef2;
$progressBarColor:#56b887;